
<div class="" *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="" *ngIf="loadingAction">
  <app-loader-action></app-loader-action>
</div>
<div class="card" [ngClass]="{ 'card-fullscreen': fullscreed }">
  <div class="card-content collapse show">
    <div
      class="card-header bg-primary bg-darken-2 text-center align-items-center card-title-bold text-capitalize row no-gutters"
    >
      <div class="col-9">
        <h3 class="mb-0 text-left">{{ pageName }}</h3>
      </div>
      <div class="col-3 text-right">
        <button (click)="fullScreen()" *ngIf="!fullscreed" class="btn box-shadow-2 mx-2 btn-light"><i class="ficon ft-maximize"></i></button>
        <button (click)="fullScreen()" *ngIf="fullscreed" class="btn box-shadow-2 mx-2 btn-light"><i class="ficon ft-minimize"></i></button>

        <button (click)="openModal(createModal)" class="btn btn-light">
          <i class="la la-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="success" class="alert alert-success" role="alert">
        {{ success }}
      </div>
      <div *ngIf="error" class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      <div *ngIf="delete" class="alert alert-danger" role="alert">
        {{ delete }}
      </div>

      <div class="card-content collapse show">
        <div class="card-body card-dashboard table-responsive">
          <table class="table table-striped table-bordered dom-jQuery-events">
            <thead>
              <tr>
                <th>id</th>
                <th>Title</th>
                <th>Image</th>

                <th class="action_minwidth">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let slider of sliders | paginate: { itemsPerPage: 5, currentPage: page }">
                <td>{{ slider.id }}</td>
                <td>{{ slider.en_title }}</td>
                <td *ngIf="!fullscreed">
                  <button
                    type="button"
                    [attr.data-toggle]="'modal'"
                    [attr.data-target]="['#sliderGallery' + slider.id]"
                    class="btn btn-primary text-white"
                  >
                    <i class="la la-search fw-600" aria-hidden="true"></i>
                  </button>
                </td>

                <td *ngIf="fullscreed">
                  <div class="d-flex align-items-center">

                    <img [src]="sliderImage+slider.image" width="50px" height="40px" alt="">
                    <button
                    type="button"
                    [attr.data-toggle]="'modal'"
                    [attr.data-target]="['#sliderGallery' + slider.id]"
                    class="btn btn-primary text-white"
                    >
                    <i class="la la-search fw-600" aria-hidden="true"></i>
                  </button>
                  </div>
                </td>
                <!-- <td>{{CaseStudy.type}}</td> -->

                <td class=" d-flex justify-content-start">
                  <a
                    routerLink="/sliders/{{ slider?.id }}"
                    class="btn btn-round mr-1 btn-success"
                    ><i class="la la-edit"></i
                  ></a>
                  <button
                    (click)="onDelete(slider.id, sliderImage)"
                    class="btn btn-round mr-1 btn-danger"
                  >
                    <i class="la la-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls [maxSize]="5"  (pageChange)="page = $event" >

          </pagination-controls>
        </div>
      </div>
    </div>

    <ng-template #createModal>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Create Slider</h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modalRef.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="sliderForm" (ngSubmit)="onCreate()">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="en_title">En title</label>
                  <input
                    id="en_title"
                    class="form-control"
                    type="text"
                    name="en_title"
                    formControlName="en_title"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="en_text">En text</label>
                  <input
                    id="en_text"
                    class="form-control"
                    type="text"
                    name="en_text"
                    formControlName="en_text"
                  />
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="ar_title">Ar title</label>
                  <input
                    id="ar_title"
                    class="form-control"
                    type="text"
                    name="ar_title"
                    formControlName="ar_title"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ar_text">Ar text</label>
                  <input
                    id="ar_text"
                    class="form-control"
                    type="text"
                    name="ar_text"
                    formControlName="ar_text"
                  />
                </div>
              </div> -->

              <div class="col-md-6">
                <div class="form-group">
                  <label for="image">Image</label>
                  <input
                    id="image"
                    (change)="image($event)"
                    class="form-control"
                    type="file"
                    name="image"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="sliderForm.invalid"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>
    </ng-template>
    <div
      *ngFor="let sliderGallery of sliders"
      class="modal fade"
      id="sliderGallery{{ sliderGallery.id }}"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mb-0" id="exampleModalLabel">
              {{ sliderGallery.en_title }}
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <img
                  [src]="sliderImage + sliderGallery.image"
                  class="w-100"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
