<div class="card">

  <div class="card-content collapse show">
    <div
    class="card-header bg-primary bg-darken-2 text-center align-items-center card-title-bold text-capitalize row no-gutters"
  >
    <div class="col-lg-9">
      <h3 class="mb-0 text-left">Edit case study gallery</h3>
    </div>

  </div>
      <div class="card-body">
        <div *ngIf="error" class="alert alert-danger" role="alert">
          {{error}}
        </div>
        <div *ngIf="success" class="alert alert-success" role="alert">
          {{success}}
        </div>
        <form [formGroup]="updateCaseStudyImage" (ngSubmit)="onUpdate()">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <label for="en_name">En title</label>
                  <input id="en_name" class="form-control" type="text" name="en_title" formControlName="en_title" [ngModel]="caseStudyModelImages?.en_title">
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="ar_title">Ar title</label>
                  <input id="ar_title" class="form-control" type="text" name="ar_title" formControlName="ar_title" [ngModel]="caseStudyModelImages?.ar_title">
                </div>
              </div> -->


              <div class="col-md-6">
                <div class="row align-items-center">
                  <div class="col-lg-10">
                    <div class="form-group">
                      <label for="image">Image</label>
                      <input id="image" (change)="image($event)" class="form-control" type="file" name="image" >
                    </div>

                  </div>
                  <div class="col-lg-2">
                    <img height="50px" [src]="caseStudyImage+caseStudyModelImages?.image" alt="">
                  </div>
                </div>
              </div>




            </div>
          </div>
            <button type="submit" class="btn btn-primary" [disabled]="updateCaseStudyImage.invalid">Save changes</button>
        </form>
      </div>
    </div>
</div>
