
<div class="" *ngIf="loading">
  <app-loading></app-loading>
</div>

<div class="" *ngIf="loadingAction">
  <app-loader-action></app-loader-action>
</div>
<div class="card" [ngClass]="{'card-fullscreen': fullscreed}">

  <div class="card-content collapse show">
    <div class="card-header bg-primary bg-darken-2 text-center align-items-center card-title-bold text-capitalize row no-gutters">
      <div class="col-lg-9">

        <h3 class="mb-0 text-left">{{pageName}}</h3>
      </div>
      <div class="col-lg-3 text-right">


          <button (click)="fullScreen()" *ngIf="!fullscreed" class="btn btn-glow btn-info"><i class="ficon ft-maximize"></i></button>
          <button (click)="fullScreen()" *ngIf="fullscreed" class="btn btn-glow btn-info"><i class="ficon ft-minimize"></i></button>
          <button (click)="openModal(createModal)" class="btn btn-light"><i class="la la-plus" aria-hidden="true"></i></button>

        </div>
    </div>
    <div class="card-body">
      <div *ngIf="success" class="alert alert-success" role="alert">
        {{success}}
      </div>
      <div *ngIf="error" class="alert alert-danger" role="alert">
        {{error}}
      </div>
      <div *ngIf="delete" class="alert alert-danger" role="alert">
        {{delete}}
      </div>

      <div class="card-content collapse show">
          <div class="card-body card-dashboard table-responsive">
              <table class="table table-striped table-bordered dom-jQuery-events">
              <thead>
                  <tr>
                      <th>id</th>
                      <th>Title</th>
                      <th>Type</th>
                      <th>Image</th>

                      <th>&nbsp;</th>
                  </tr>
              </thead>
              <tbody>

                  <tr *ngFor="let client of clients">
                      <td>{{client.id}}</td>
                      <td>{{client.en_title}}</td>
                      <td>{{client.type}}</td>
                      <td *ngIf="!fullscreed"><button type="button" [attr.data-toggle]="'modal'" [attr.data-target]="['#clientGallery'+client.id]" class="btn btn-primary text-white"><i class="la la-search fw-600" aria-hidden="true"></i></button></td>
                      <td *ngIf="fullscreed"><img [src]="clientImage+client.logo" width="50px" height="40px" alt=""></td>

                      <td class="row justify-content-center no-gutters">
                        <a routerLink="/clients/{{client?.id}}" class="btn btn-round mr-1 btn-success"><i class="la la-edit"></i></a>
                        <button (click)="onDelete(client.id , clientImage)" class="btn btn-round mr-1 btn-danger"><i class="la la-trash"></i></button>
                      </td>
                  </tr>



              </tbody>

              </table>
              <pagination [totalItems]="clients.length"
              [(ngModel)]="currentPage" [itemsPerPage]="5" ></pagination>
          </div>

    </div>
  </div>
</div>
<!-- Modal -->
<!-- <div  class="modal fade" id="createClient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create client</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="createClient" (ngSubmit)="onCreate()">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <label for="en_title">En title</label>
                  <input id="en_title" class="form-control" type="text" name="en_title" formControlName="en_title">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ar_title">Ar title</label>
                  <input id="ar_title" class="form-control" type="text" name="ar_title" formControlName="ar_title">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="en_text">En text</label>
                  <input id="en_text" class="form-control" type="text" name="en_text" formControlName="en_text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ar_text">Ar text</label>
                  <input id="ar_text" class="form-control" type="text" name="ar_text" formControlName="ar_text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="type">Type</label>
                  <select id="type" class="form-control" name="type" formControlName="type">
                    <option value="">Select type</option>
                    <option value="happy">Happy</option>
                    <option value="case">Case</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="icon">icon</label>
                  <input id="icon" (change)="logo($event)" class="form-control" type="file" name="icon">
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="createClient.invalid">Save changes</button>
          </div>
      </form>
    </div>
  </div>
</div> -->
<div *ngFor="let clientGallery of clients" class="modal fade" id="clientGallery{{clientGallery.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mb-0" id="exampleModalLabel">{{clientGallery.en_title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <img [src]="clientImage+clientGallery.logo" class="w-100" alt="">
          </div>

          </div>
        </div>
    </div>
  </div>
</div>
<ng-template #createModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create client</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createClient" (ngSubmit)="onCreate()">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label for="en_title">En title</label>
              <input id="en_title" class="form-control" type="text" name="en_title" formControlName="en_title">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ar_title">Ar title</label>
              <input id="ar_title" class="form-control" type="text" name="ar_title" formControlName="ar_title">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="en_text">En text</label>
              <input id="en_text" class="form-control" type="text" name="en_text" formControlName="en_text">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ar_text">Ar text</label>
              <input id="ar_text" class="form-control" type="text" name="ar_text" formControlName="ar_text">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="type">Type</label>
              <select id="type" class="form-control" name="type" formControlName="type">
                <option value="">Select type</option>
                <option value="happy">Happy</option>
                <option value="case">Case</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="icon">icon</label>
              <input id="icon" (change)="logo($event)" class="form-control" type="file" name="icon">
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="createClient.invalid">Save changes</button>
      </div>
  </form>
  </div>
</ng-template>
<!-- <div class="modal fade" *ngFor="let clientModal of clients" id="updateclient{{clientModal.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create client</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div>
  </div>
</div> -->
