<section class="notfound d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center ">

      <div class="col-10 col-md-6 col-lg-4  box-shadow-2">
        <div class="card border-grey border-lighten-3 p-2 my-0 row">
          <img src="assets/images/notfound.png" class="w-100" alt="">
          <div class="card-content p-2">

                <h2 class="error-code text-center">404</h2>
                <h3 class="text-uppercase text-center text-primary">Page Not Found !</h3>
                <a routerLink="/dashboard" class="btn btn-primary btn-block"><i class="la la-home"></i> Back to Dashboard</a>

          </div>

        </div>
      </div>
    </div>

  </div>
</section>
