
<div class="" *ngIf="loading">
  <app-loading></app-loading>
</div>

<div class="" *ngIf="loadingAction">
  <app-loader-action></app-loader-action>
</div>
<div class="card"  [ngClass]="{'card-fullscreen': fullscreed}">
  <div class="card-content collapse show">
    <div class="card-header bg-primary bg-darken-2 text-center align-items-center card-title-bold text-capitalize row no-gutters">
      <div class="col-9">

        <h3 class="mb-0 text-left">{{pageName}}</h3>
      </div>
      <div class="col-3 text-right">

        <button (click)="fullScreen()" *ngIf="!fullscreed" class="btn box-shadow-2 mx-2 btn-light"><i class="ficon ft-maximize"></i></button>
        <button (click)="fullScreen()" *ngIf="fullscreed" class="btn box-shadow-2 mx-2 btn-light"><i class="ficon ft-minimize"></i></button>
      <button (click)="openModal(createModal)" class="btn btn-light"><i class="la la-plus" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="card-body">

      <div class="card-content collapse show">
        <div *ngIf="success" class="alert alert-success" role="alert">
          {{success}}
        </div>
        <div *ngIf="error" class="alert alert-danger" role="alert">
          {{error}}
        </div>
        <div *ngIf="delete" class="alert alert-danger" role="alert">
          {{delete}}
        </div>
          <div class="card-body card-dashboard table-responsive">
              <table class="table table-striped table-bordered dom-jQuery-events">
              <thead>
                  <tr>
                      <th>id</th>
                      <th>Name</th>
                      <th>Role</th>
                      <th>Rating</th>
                      <th>Image</th>

                      <th class="action_minwidth">Action</th>
                  </tr>
              </thead>
              <tbody>

                  <tr *ngFor="let feedback of feedbacks | paginate: { itemsPerPage: 5, currentPage: currentPage }">
                    <td>{{feedback.id}}</td>
                    <td>{{feedback.en_name}}</td>
                    <td>{{feedback.en_role}}</td>
                    <td *ngIf="feedback.feedback_star == 5 ">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </td>
                    <td *ngIf="feedback.feedback_star == 4 ">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>

                    </td>
                    <td *ngIf="feedback.feedback_star == 3 ">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>

                    </td>
                    <td *ngIf="feedback.feedback_star == 2 ">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>

                    </td>
                    <td *ngIf="feedback.feedback_star == 1 ">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>

                    </td>
                    <td *ngIf="feedback.feedback_star == null ">
                      <i class="far fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>
                      <i class="far fa-star" aria-hidden="true"></i>

                    </td>
                    <!-- <td *ngIf="fullscreed">{{feedback.en_feedback | slice:0:50}}</td> -->
                    <td *ngIf="!fullscreed"><button type="button" [attr.data-toggle]="'modal'" [attr.data-target]="['#feedbackGallery'+feedback.id]" class="btn btn-primary text-white"><i class="la la-search fw-600" aria-hidden="true"></i></button></td>
                    <td *ngIf="fullscreed">
                      <div class="d-flex align-items-center">

                        <img [src]="feedback?.client_image == null ? 'assets/images/avatar.png' : feedbackImage+feedback?.client_image" [ngClass]="{'bg-white': feedback.client_image == null }" width="60px" height="40px" alt="">
                        <button type="button" [attr.data-toggle]="'modal'" [attr.data-target]="['#feedbackGallery'+feedback.id]" class="btn btn-primary text-white"><i class="la la-search fw-600" aria-hidden="true"></i></button>
                      </div>
                    </td>

                      <td class="row justify-content-start no-gutters">
                        <a routerLink="/feedbacks/{{feedback?.id}}" class="btn btn-round mr-1 btn-success"><i class="la la-edit"></i></a>
                        <button (click)="onDelete(feedback.id , feedbackImage)" class="btn btn-round mr-1 btn-danger"><i class="la la-trash"></i></button>
                      </td>
                  </tr>



              </tbody>

              </table>
              <pagination-controls [maxSize]="5"  (pageChange)="currentPage = $event" >

              </pagination-controls>
          </div>

    </div>
  </div>
  <!-- Modal -->

  <div *ngFor="let feedbackGallery of feedbacks" class="modal fade" id="feedbackGallery{{feedbackGallery.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mb-0" id="exampleModalLabel">{{feedbackGallery.en_name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <img [src]="feedbackGallery?.client_image == null ? 'assets/images/avatar.png' : feedbackImage+feedbackGallery?.client_image" class="w-100" alt="">      </div>

            </div>
          </div>

      </div>
    </div>
  </div>
</div>
<ng-template #createModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create feedback</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createFeedback" (ngSubmit)="onCreate(createFeedback)">
      <div class="modal-body">
        <div class="row justify-content-center ">
          <div class="col-md-6">

            <div class="form-group">
              <label for="en_name">En name</label>
              <input id="en_name" class="form-control" type="text" name="en_name" formControlName="en_name">
            </div>
            <div *ngIf="createFeedback.controls['en_name'].touched && createFeedback.controls['en_name'].errors != null" class="alert mt-2 alert-danger text-left" role="alert">
              <p class="mb-0" *ngIf="createFeedback.controls['en_name'].errors['required']">English name is required</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ar_name">Ar name</label>
              <input id="ar_name" class="form-control" type="text" name="ar_name" formControlName="ar_name">
            </div>
            <div *ngIf="createFeedback.controls['ar_name'].touched && createFeedback.controls['ar_name'].errors != null" class="alert mt-2 alert-danger text-left" role="alert">
              <p class="mb-0" *ngIf="createFeedback.controls['ar_name'].errors['required']">Arabic name is required</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="en_role">En role</label>
              <input id="en_role" class="form-control" type="text" name="en_role" formControlName="en_role">
            </div>
            <div *ngIf="createFeedback.controls['en_role'].touched && createFeedback.controls['en_role'].errors != null" class="alert mt-2 alert-danger text-left" role="alert">
              <p class="mb-0" *ngIf="createFeedback.controls['en_role'].errors['required']">English role is required</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="ar_role">Ar role</label>
              <input id="ar_role" class="form-control" type="text" name="ar_role" formControlName="ar_role">
            </div>
            <div *ngIf="createFeedback.controls['ar_role'].touched && createFeedback.controls['ar_role'].errors != null" class="alert mt-2 alert-danger text-left" role="alert">
              <p class="mb-0" *ngIf="createFeedback.controls['ar_role'].errors['required']">Arabic role is required</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="en_feedback">En feedback</label>
              <textarea id="en_feedback" class="form-control" type="text" name="en_feedback" formControlName="en_feedback"></textarea>
            </div>
            <div *ngIf="createFeedback.controls['en_feedback'].touched && createFeedback.controls['en_feedback'].errors != null" class="alert mt-2 alert-danger text-left" role="alert">
              <p class="mb-0" *ngIf="createFeedback.controls['en_feedback'].errors['required']">English feedback is required</p>
            </div>

          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="ar_feedback">Ar feedback</label>
              <textarea id="ar_feedback" class="form-control" type="text" name="ar_feedback" formControlName="ar_feedback"></textarea>
            </div>
            <div *ngIf="createFeedback.controls['ar_feedback'].touched && createFeedback.controls['ar_feedback'].errors != null" class="alert mt-2 alert-danger text-left" role="alert">
              <p class="mb-0" *ngIf="createFeedback.controls['ar_feedback'].errors['required']">Arabic feedback is required</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="status">Status</label>
              <select id="status" class="form-control" type="text" name="status" formControlName="status">
                <option value="">Select status</option>
                <option value="0">Hide</option>
                <option value="1">Show</option>
              </select>
            </div>
            <div *ngIf="createFeedback.controls['status'].touched && createFeedback.controls['status'].errors != null" class="alert mt-2 alert-danger text-left" role="alert">
              <p class="mb-0" *ngIf="createFeedback.controls['status'].errors['required']">Status is required</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="image">Image</label>
              <input id="image" (change)="image($event)" class="form-control" type="file" name="image">
            </div>
            <div *ngIf="createFeedback.controls['client_image'].touched && createFeedback.controls['client_image'].errors != null" class="alert mt-2 alert-danger text-left" role="alert">
              <p class="mb-0" *ngIf="createFeedback.controls['client_image'].errors['required']">Image is required</p>
            </div>
          </div>
          <div class="col-12 text-center">

            <label for="rating">Rating</label>
            <div class="star-source">

                <svg>
                    <linearGradient x1="50%" y1="5.41294643%" x2="87.5527344%"
                        y2="65.4921875%" id="grad">
                        <stop stop-color="#ffd700" offset="0%"></stop>
                        <stop stop-color="#ffd700" offset="60%"></stop>
                        <stop stop-color="#ffd700" offset="100%"></stop>
                    </linearGradient>
                    <symbol id="star" viewBox="153 89 106 108">
                        <polygon id="star-shape" stroke="url(#grad)" stroke-width="5"
                            fill="currentColor"
                            points="206 162.5 176.610737 185.45085 189.356511 150.407797 158.447174 129.54915 195.713758 130.842203 206 95 216.286242 130.842203 253.552826 129.54915 222.643489 150.407797 235.389263 185.45085">
                        </polygon>
                    </symbol>
                </svg>
            </div>
            <div class="star-container">
                <input type="radio" name="feedback_star" formControlName="feedback_star"  id="five" value="5">
                <label for="five">
                    <svg class="star">
                        <use xlink:href="#star" />
                    </svg>
                </label>
                <input type="radio" name="feedback_star" formControlName="feedback_star" id="four" value="4">
                <label for="four">
                    <svg class="star">
                        <use xlink:href="#star" />
                    </svg>
                </label>
                <input type="radio" name="feedback_star" formControlName="feedback_star" id="three" value="3">
                <label for="three">
                    <svg class="star">
                        <use xlink:href="#star" />
                    </svg>
                </label>
                <input type="radio" name="feedback_star" formControlName="feedback_star" id="two" value="2">
                <label for="two">
                    <svg class="star">
                        <use xlink:href="#star" />
                    </svg>
                </label>
                <input type="radio" name="feedback_star" required formControlName="feedback_star" id="one" value="1" checked>
                <label for="one">
                    <svg class="star">
                        <use xlink:href="#star" />
                    </svg>
                </label>

            </div>
        </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="createFeedback.invalid">Create feedback</button>
      </div>
    </form>
  </div>
</ng-template>
