<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="main-menu-content">
    <ul (click)="navOpen()" class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

      <li class="nav-item" routerLinkActive="active" title="Dashboard">
        <a routerLink="/dashboard">
          <i class="las la-chart-pie"></i>
          <span class="menu-title" data-i18n="">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" title="Home Page">
        <a routerLink="/home-page">
          <i class="las la-house-damage"></i>

          <span class="menu-title" data-i18n="">Home Page</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" title="Sliders">
        <a routerLink="/sliders">
          <i class="las la-images"></i>

          <span class="menu-title" data-i18n="">Sliders</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" title="About us">
        <a routerLink="/about-us">
          <i class="la la-info"></i>

          <span class="menu-title" data-i18n="">About us</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" title="Services">
        <a routerLink="/services">
          <i class="la la-cogs"></i>

          <span class="menu-title" data-i18n="">Services</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" title="Blogs">
        <a routerLink="/blogs">
          <i class="la la-file-alt"></i>

          <span class="menu-title" data-i18n="">Blogs</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" title="Career Category">
        <a routerLink="/careersCategory">
          <i class="la la-briefcase"></i>

          <span class="menu-title" data-i18n="">Careers categories</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" title="Clients">
        <a routerLink="/clients">
          <i class="la la-users"></i>

          <span class="menu-title" data-i18n="">Clients & Partners</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" title="Clients">
        <a routerLink="/clientsFeedbackForm">
          <i class="la la-star"></i>

          <span class="menu-title" data-i18n="">Clients feedback form</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" title="Feedbacks">
        <a routerLink="/feedbacks">
          <i class="la la-comments"></i>

          <span class="menu-title" data-i18n="">Feedbacks</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" title="Case studies">
     <a routerLink="/case-studies">
       <i class="las la-user-check"></i>
       <span class="menu-title" data-i18n="">Case studies</span>

     </a>
   </li>
      <!--

      <li class="nav-item" routerLinkActive="active" title="Teams">
        <a routerLink="/teams">
          <i class="las la-users-cog"></i>

          <span class="menu-title" data-i18n="">Teams</span>

        </a>
      </li> -->
      <li class="nav-item" routerLinkActive="active" title="Teams">
        <a routerLink="/messages">
          <i class="las la-sms"></i>

          <span class="menu-title" data-i18n="">Messages</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" title="Banners">
        <a routerLink="/banners">
          <i class="la la-image"></i>

          <span class="menu-title" data-i18n="">Banners</span>

        </a>
      </li>
    </ul>
  </div>
</div>
