<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/home">
          <i class="la la-home"></i>

          <span class="menu-title" data-i18n="">Home</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/home-page">
          <i class="la la-house-damage"></i>

          <span class="menu-title" data-i18n="">Home Page</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/about-us">
          <i class="la la-info"></i>

          <span class="menu-title" data-i18n="">About us</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/services">
          <i class="la la-cogs"></i>

          <span class="menu-title" data-i18n="">Services</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/clients">
          <i class="la la-users"></i>

          <span class="menu-title" data-i18n="">Clients</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/feedbacks">
          <i class="la la-comments"></i>

          <span class="menu-title" data-i18n="">Feedbacks</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/case-studies">
          <i class="las la-user-check"></i>
          <span class="menu-title" data-i18n="">Case studies</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/sliders">
          <i class="las la-images"></i>

          <span class="menu-title" data-i18n="">Sliders</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/teams">
          <i class="las la-users-cog"></i>

          <span class="menu-title" data-i18n="">Teams</span>

        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/banners">
          <i class="la la-image"></i>

          <span class="menu-title" data-i18n="">Banners</span>

        </a>
      </li>
    </ul>
  </div>
</div>
