<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/home">
            <div class="row no-gutters justify-content-between align-items-center">
                <span class="menu-title" data-i18n="">Home</span>
                <i class="la la-angle-right"></i>
            </div>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/about-us">
            <div class="row no-gutters justify-content-between align-items-center">
                <span class="menu-title" data-i18n="">About us</span>
                <i class="la la-angle-right"></i>
            </div>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/services">
            <div class="row no-gutters justify-content-between align-items-center">
                <span class="menu-title" data-i18n="">Services</span>
                <i class="la la-angle-right"></i>
            </div>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/clients">
            <div class="row no-gutters justify-content-between align-items-center">
                <span class="menu-title" data-i18n="">Clients</span>
                <i class="la la-angle-right"></i>
            </div>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/feedbacks">
            <div class="row no-gutters justify-content-between align-items-center">
                <span class="menu-title" data-i18n="">Feedbacks</span>
                <i class="la la-angle-right"></i>
            </div>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/case-studies">
            <div class="row no-gutters justify-content-between align-items-center">
                <span class="menu-title" data-i18n="">Case studies</span>
                <i class="la la-angle-right"></i>
            </div>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/sliders">
            <div class="row no-gutters justify-content-between align-items-center">
                <span class="menu-title" data-i18n="">Sliders</span>
                <i class="la la-angle-right"></i>
            </div>
        </a>
      </li>
    </ul>
  </div>
</div>
