<div class="card-content collapse show">
    <div class="card-header bg-primary bg-darken-2 white text-center card-title-bold text-capitalize">Banners </div>
    <div class="card-body">

      <div class="card-content collapse show">
          <div class="card-body card-dashboard table-responsive">

              <table class="table table-striped table-bordered dom-jQuery-events">
              <thead>
                  <tr>
                      <th>id</th>
                      <th>Section title</th>
                      <th>Section first icon</th>
                      <th>Section seond icon</th>
                      <th>Section third icon</th>
                      <th>Section fourth icon</th>


                      <th>&nbsp;</th>
                  </tr>
              </thead>
              <tbody>

                  <tr>
                      <td>1</td>
                      <td><img [src]="bannerUrl+banners?.services_banner_image" alt=""></td>
                      <td><img [src]="bannerUrl+banners?.services_detail_banner_image" alt=""></td>
                      <td><img [src]="bannerUrl+banners?.say_hello_banner_image" alt=""></td>
                      <td><img [src]="bannerUrl+banners?.feedback_banner_image" alt=""></td>
                      <td><img [src]="bannerUrl+banners?.contact_banner_image" alt=""></td>

                      <td class="row justify-content-center no-gutters">
                          <a routerLink="/banners/edit/{{banners?.id}}" class="btn btn-round mr-1 btn-success"><i class="la la-edit"></i></a>
                      </td>
                  </tr>



              </tbody>

              </table>
          </div>

    </div>
  </div>
