
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$db-dashboard-primary: mat.define-palette(mat.$indigo-palette);
$db-dashboard-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$db-dashboard-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$db-dashboard-theme: mat.define-light-theme((
  color: (
    primary: $db-dashboard-primary,
    accent: $db-dashboard-accent,
    warn: $db-dashboard-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($db-dashboard-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
// @import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
$mainColor: #290707;
$secondaryColor: #ed2924;
.main-menu.menu-dark .navigation>li.active>a{
  border-right: 4px solid $mainColor;
  margin:0 !important;

}
.btn-light:focus{
  color: #040404 !important
}
.card-header{
  h3{
    color: #fff
  }
  .btn-light{
    color:#040404
  }
}
.bg-primary.bg-darken-2, .btn-primary.btn-darken-2{
  background-color: $mainColor !important;
}

.navigation{
  &-main{
    margin-top:18px !important
  }
}
.table td,
.table th{
  vertical-align: middle;
}
.slider{
  h4{
    text-align:center
  }
}
.main_slider_img{
  height:200px !important;
  width:200px !important;
  margin:auto;
  object-fit:contain;
}

.home-dashboard{
  h3{
    margin-bottom: 5px;
  }
  h4{
    margin-bottom: 0;
  }
}
.modal{
  &-title{
    margin-bottom:0 !important;
  }
}
.btn-primary{
  background-color: $mainColor !important;
  border-color: #fff !important;
  &:hover{
    background-color: $secondaryColor !important;
  border-color: #fff !important;

  }
  &:focus{
    background-color: $secondaryColor !important;
  border-color: #fff !important;

  }
}
.loader{
  position: fixed;
  inset: 0;
  background-color: #E92823;
  z-index: 999;
  .lds-roller {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 80px;
    height: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
}
.fullsizeModal{
  max-width:100%;
  margin: 0 !important;
  max-height:100%;
  
}
body.vertical-layout.vertical-menu-modern .content{
  position:relative;
}
.loading{
  &_data{
    position: absolute;
    inset:0;
    background-color: $mainColor;
    z-index:800;
  
    .lds-ring {
      display: inline-block;
      position: absolute;
      top: 50%;
      width: 80px;
      height: 80px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    
  }
}
.action{
  &_slider{
    padding:1.6rem 0 !important;
  }
  &_banner{
    padding:1.6rem 0 !important;
  }
  &_loader{
    position: fixed;
    inset:0;
    background-color: rgba($mainColor,0.6);
    z-index:99999;
  
    .lds-ring {
      display: inline-block;
      position: absolute;
      top: 50%;
      width: 80px;
      height: 80px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
