
$mainColor: #290707;
$secondaryColor: #ed2924;

.text-primary{
  color: $secondaryColor !important
}
.main-menu.menu-dark .navigation>li.active>a{
  border-right: 4px solid $mainColor;
  margin:0 !important;

}
.btn-light:focus{
  color: #040404 !important
}
.card-header{
  h3{
    color: #fff
  }
  .btn-light{
    color:#040404
  }
}
.bg-primary.bg-darken-2, .btn-primary.btn-darken-2{
  background-color: $mainColor !important;
}

.navigation{
  &-main{
    margin-top:18px !important
  }
}
.table{
  &.about{

    td{
      white-space: nowrap;
      vertical-align: middle;
      max-width: 100%;
      border-collapse: collapse;
      vertical-align: middle;

    }
    th{
      vertical-align: middle;
      min-width: none;
    }
  }
}

.table td,
.table th{
  vertical-align: middle;
}

.slider{
  h4{
    text-align:center
  }
}
.main_slider_img{
  height:200px !important;
  width:200px !important;
  margin:auto;
  object-fit:contain;
}

.home-dashboard{
  h3{
    margin-bottom: 5px;
  }
  h4{
    margin-bottom: 0;
  }
}
.modal{
  &-title{
    margin-bottom:0 !important;
  }
}
.btn-primary{
  background-color: $mainColor !important;
  border-color: #fff !important;
  &:hover{
    background-color: $secondaryColor !important;
  border-color: #fff !important;

  }
  &:focus{
    background-color: $mainColor !important;
  border-color: #fff !important;

  }
}
// .app-content{

//   &.content{
//     display: flex;
//     align-items: center;
//   }
//   .content-wrapper{
//     width: 100%;
//   }
// }
.navbar-flexbox-container{
  top:unset;
  height: unset;
}
.image_card_home{
  height: 332px;
  object-fit: contain;
  width: 100%;
}
.card {
  .card{
    box-shadow: 0 2px 18px 1px rgb(49 53 72 / 10%) !important;
  }
}
.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 512px;

}
.loader {
  position: fixed;
  inset: 0;
  z-index: 99999999999;
  background: #290707;
}
.loader .loader-container{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.main-logo-loader {


  animation: flip-vertical-left 1s ease-in-out infinite alternate-reverse both;
}
.preloader {
  position: fixed;
  inset: 0;
  z-index: 99999;
  background: #290707;
}
.preloader .loader-container{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}


.preloader .main-loader {


  animation: flip-vertical-left 1s ease-in-out infinite alternate-reverse both;
}
.fullsizeModal{
  max-width:100%;
  margin: 0 !important;
  max-height:100%;

}
body.vertical-layout.vertical-menu-modern .content{
  position:relative;
}
.loading{
  &_data{
    position: absolute;
    inset:0;
    background-color: #f4f5fa;
    z-index:800;

    .lds-ring {
      display: inline-block;
      position: absolute;
      top: 50%;
      width: 80px;
      height: 80px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid $mainColor;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $mainColor transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }

  }
}
.header-navbar .navbar-header{
  padding: 4px 14px
}
.dropdown-user:hover{
position:relative;
}
.dropdown-user:hover .dropdown-menu-user{
  transform: scale(1,1);
  opacity: 1;
  display: block;
}
.dropdown-menu-user{
  position:absolute
}
.action{

  &_minwidth{

    min-width: 181px;
  }

  &_slider{
    padding:1.6rem 0 !important;
  }
  &_banner{
    padding:1.6rem 0 !important;
  }
  &_loader{
    position: fixed;
    inset:0;
    background-color: rgba($mainColor,0.6);
    z-index:99999;

    .lds-ring {
      display: inline-block;
      position: absolute;
      top: 50%;
      width: 80px;
      height: 80px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ngx-pagination{
  padding-left:0;
  .current{
    background-color: $mainColor !important
  }
  a:hover{
    color: $mainColor
  }
}
footer{
  a{
    color: $secondaryColor !important
  }
}
.notfound{
  min-height:75vh;
}


@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
bs-modal-backdrop{

  &.modal{
    z-index: 9999;

    &-backdrop{
      z-index: 9999;
    }
  }
}
modal-container{
  &.modal{
    z-index: 9999;
  }
}
.modal{
  background-color: rgba(0,0,0,0.5);
}
// .card{

//   &.card-fullscreen {
//     z-index: 1038 !important;
//   }
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
