

<div class="" *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="card" [ngClass]="{'card-fullscreen': fullscreed}">

  <div class="card-content collapse show">
    <div class="card-header bg-primary bg-darken-2 text-center align-items-center card-title-bold text-capitalize row no-gutters">
      <div class="col-9">
        <h3 class="mb-0 text-left">{{ 'About us page' }}</h3>
      </div>
      <div class="col-3 text-right">
        <button (click)="fullScreen()" *ngIf="!fullscreed" class="btn box-shadow-2 mx-2 btn-light"><i class="ficon ft-maximize"></i></button>
        <button (click)="fullScreen()" *ngIf="fullscreed" class="btn box-shadow-2 mx-2 btn-light"><i class="ficon ft-minimize"></i></button>

      </div>
    </div>
    <div class="card-body">

      <div class="card-content collapse show">
          <div class="card-body card-dashboard">
            <div class="table-responsive">

              <table class="table about table-striped table-bordered dom-jQuery-events">
              <thead>
                  <tr>
                      <th>id</th>
                      <th *ngIf="fullscreed">Section image</th>
                      <th>Section title</th>
                      <th *ngIf="fullscreed">Section image</th>
                      <th>Mission Title</th>
                      <th>Vision Title</th>
                      <th *ngIf="fullscreed">Vision image</th>

                      <th style="width: 0;">Action</th>
                  </tr>
              </thead>
              <tbody>

                  <tr>
                      <td>1</td>
                      <td *ngIf="fullscreed"><img [src]="aboutUsImage+AboutUs?.about_banner_image" height="40px" width="60px" alt=""></td>
                      <td>{{AboutUs?.en_about_section_title}}</td>
                      <td *ngIf="fullscreed"><img [src]="aboutUsImage+AboutUs?.about_section_image" height="40px" width="60px" alt=""></td>
                      <td>{{AboutUs?.en_mission_title}}</td>
                      <td>{{AboutUs?.en_vision_title}}</td>
                      <td *ngIf="fullscreed"><img [src]="aboutUsImage+AboutUs?.mission_vision_image" height="40px" width="60px" alt=""></td>

                      <td >
                          <a routerLink="/about-us/edit/{{AboutUs?.id}}" class="btn btn-round mr-1 btn-success"><i class="la la-edit"></i></a>
                      </td>
                  </tr>



              </tbody>

              </table>
            </div>

          </div>

    </div>
  </div>
</div>
